.abel-regular {
  font-family: "Abel", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}

body {margin: 0; padding: 0;
	position: relative;
	font-family: "Abel", sans-serif;
}	
#hero img {
	height: 100vh;
	width: 100%;
	back-gound-position: absolute;
	z-index: 10;
	object-fit: cover;
	font-family: "Abel", sans-serif;
}

#hero .content {
	height: 100%;
	width: 40%;
	z-index: 20;
	position:absolute;
	top: 0;
	left: 60%;
	display: flex;
	align-items: right;
	justify-content: right;
	font-family: "Abel", sans-serif;
	font-size: 14px;
}
ul {
	list-style: none;
}

# hero .content h1 {
	color: black;
	font-family: "Abel", sans-serif;
}

